<%- include("partials/header") %>
<h1>HOME</h1>
<p><%= startingContent %></p>



<% posts.forEach(el => { %>

    <div class="item">
    <h2><%= el.title %></h2>
    <p><%= el.content.substring(0,100) + `...`%> 
    <a href="/posts/<%=el._id%>">read more</a></p>
</div>

<% }); %>



<%- include("partials/footer") %>